:root{
    --blue:#0188DF;
    --black:#354046;
  }

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/* input:focus::placeholder {
    color: transparent;
  } */

.tit{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 10px;
}

.sign_in{
    font-weight:700;
    font-size: 40px;
    margin-bottom: 10px;
    color: rgba(1, 4, 136, 0.9);
    /* text-transform: capitalize; */

}



.register{
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 20px;
}

.form-label{
    font-size: 15px;
}

.inp{
    border: 1px solid var(--black);
    padding: 10px;
    font-size: 20px;
}


.lab{
    font-size: 16px;
    margin-bottom: 1px;
    color:var(--black);
}

.text-body{
    font-size: 13px;
}

.Rlab{
    font-size: 13px;
    color: var(--black);
    
}

.small{
    font-size: 12px;
}

.bt:hover{
    color: #eee;
}

.signinsec{
    margin-top: 75px;
    margin-right: 55px;
    
}

.signin-button{
    height:3.5rem;
  width: 15rem;
  background:rgba(1, 4, 136, 0.9);
  color:#fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: .5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin:1rem 0;
  padding-top: 5px;
}

.signin-button::before{
  content: '';
  position: absolute;
  top: -100%; left: 0;
  height:100%;
  width: 100%;
  background-color: var(--black);
  z-index: -1;
  transition: .2s linear;
}

.signin-button:hover::before{
  top: 0%;
    
}

.link_si{
    color:rgba(1, 4, 136, 0.9) ;
}